* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

section {
  margin-top: 130px;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  font-weight: 700;
  size: 20px;
  height: 64px;
  padding: 18px 35px;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0px;
}

.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner-page */
.banner {
  margin: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-subtitle {
  height: 61px;
  width: 177px;
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}

.banner-name {
  height: 116px;
  width: 498px;
  font-size: 85px;
  font-weight: 700;
  color: #181818;
}

.banner-descr {
  height: 60px;
  width: 585px;

  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}
