.contact {
  display: flex;
  gap: 117px;
  background-color: #fff8f3;
  padding: 130px 200px;
}

.contact-title {
  text-align: left;
  margin-bottom: 20px;
}

.contact input[type="text"],
[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0px;
  padding: 18px 30px;
}

input {
  height: 64px;
  width: 100%;
}

.contact-descr {
  margin-bottom: 20px;
}
